{% extends 'mailing/base.html' %}
{% block content %}
{% include 'mailing/head_message.html' %}
<div class="container">
    <div class="col-4">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="card">
                <p class="card-text">Вы действительно хотите удалить {{ object.mail_theme }}?</p>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-outline-primary" role="button">Удалить</button>
                <a class="w-100 btn btn-lg btn-outline-primary" href="{% url 'mailing:message_list' %}">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}